/*Բ�Ǳ߿�css �ɵ����С����ɫ*/
body {
    font-size:12px;
    padding:0;margin:0;
    background: #ffffff;
}
div.roundout {
    width: 100%; /*��*/
    height: 100%;
    background: #FFFFF0; /*������ɫ*/
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

b.rtop,b.rbottom {
    display: block;
    background: #FFFFF0;
}

b.rtop b,b.rbottom b {
    display: block;
    height: 1px;
    overflow: hidden;
    background: #FFFFF0; /*������ɫF5F5DC*/
    border: solid 1px #DCDCDC; /*������ɫ*/
    border-top: none;
    border-bottom: none;
}

b.r1 {
    margin: 0 4px;
}

b.r2 {
    margin: 0 3px
}

b.r3 {
    margin: 0 2px
}

b.rtop b.r4,b.rbottom b.r4 {
    margin: 0 1px;
    height: 2px
}

b.rtop b.r1,b.rbottom b.r1 {
    background: #DCDCDC; /*������ɫ*/
}

div.roundin {
    margin: 0px 0px;
    height: 100%; /*��*/
    border: solid 1px #DCDCDC; /*������ɫ*/
    border-top: none;
    border-bottom: none;
}


.tableContentList {
    width: 100%;
    border-top: 1px solid #708090;
    border-right: 1px solid #708090;
    border-bottom: 1px solid #708090;
    border-left: 1px solid #708090;
    margin-bottom:10px;
}

.tcolor {
    color: #708090;
}

.title {
    color: red;
    font-size: 20px
}

.page_nav,#commentpage {
    clear: both;
    padding: 15px 0;
    color: #666;
    font: normal 12px/24px Arial;
    text-align: center;
}

.page_nav a,#commentpage a {
    display: inline-block;
    height: 22px;
    margin: 0 2px;
    padding: 0 8px;
    border: solid 1px #dbe5ee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    color: #333;
    font: normal 12px/22px Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.page_nav strong {
    display: inline-block;
    height: 24px;
    margin: 0 3px;
    padding: 0 8px;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background: #c00;
    color: #fff;
    font-weight: normal;
    line-height: 24px;
    text-decoration: none;
}

.page_nav a:hover,.page_nav a.on {
    height: 24px;
    margin: 0 3px;
    border: none;
    background: #c00;
    color: #fff;
    line-height: 24px;
    text-decoration: none;
}

.page_nav a.select {
    cursor: default;
}

.page_nav .view_all {
    display: block;
    text-align: center;
}

.page_nav .view_all a {
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    color: #06c;
    line-height: 24px;
}

.page_nav .view_all a:hover {
    height: auto;
    margin: 0;
    padding: 0;
    background: none;
}

.recommentClass {
    border-style: solid;
    border-width: 1px;
    border-color: #dbe5ee;
    background: #F0F8FF;
    font-size: 16px;
    padding: 5px 0;
}

.recommentClassWhait {
    border-style: solid;
    border-width: 1px;
    border-color: #dbe5ee;
    background: #ffffff;
    font-size: 16px;
    padding: 5px 0;
}

.recommentClassGray {
    border-style: solid;
    border-width: 1px;
    border-color: #dbe5ee;
    background: #F0F8FF;
    font-size: 16px;
    padding: 5px 0;
}

.recommentDIV {
    font-size: 16px;
    padding-left: 20px;
    padding-top: 3px;
}

.recommentTitleDIV {
    padding-top: 3px;
    background: #FF7F24;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: EE4000;
}

.recommentContentDIV {
    padding-top: 3px;
    background: #EEEE00;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: EE4000;
}

.readcontenttable {
    position: absolute;
    padding-top: 3px;
    background: #FFFFE0;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #EEE5DE;
    width: 100%;
}



.userstatuStyle {
    float: left;
    width: 100%;
    height: 20;
    position: absolute;
    z-index: 999;
    top: 5px;
    left: 0px;
}

.userstatuStylefont {
    font-size: 12px
}

.button_edit_submit_cancel{
    width:200px;
    height:50px;
    border-style:none; 
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-repeat:no-repeat;
    background:url("../image/image/button_green.png");
}

.button_edit_submit_cancel:hover{
    width:200px;
    height:50px;
    border-style:none; 
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-repeat:no-repeat;
    background:url("../image/image/button_green_light.png");
}

.edit_title_input{
    width:100%;
    height:40px;
}
.input-error {
    width:100%;
    height:40px;
    border: 1px solid red;
}
.eidt_massage_wirte{
    width: 100%;
    height:500px;
}

#title_txt{
    font-size: 24px;
    font-weight: bold;
    color: #3D3D3D
}
.input-error {
    border: 1px solid red;
}

.with-100{
    width:100%;
}