/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-4-26, 8:47:03
    Author     : guona
*/

.gridview_border{
    border: 1px #dddddd solid;
    border-radius: 5px;
    overflow:hidden;
    position: absolute;
    background-color: #dddddd;
}
.gridview_border div{
    background-color: #ffffff;
}
.gridview_bottom_div{
    position:absolute;
    bottom: 0px
}
.gridview_button{
    border: 1px #000000 solid;
    background-color: #269abc;
    cursor: pointer;

}

.gridview_border_url{
    overflow:hidden;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width:85%;
    text-decoration: none;
   // padding-left: 12px;
   // padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 2px;
  
}
.gridview_border_url:hover{
    color: #12adff;
    text-decoration: none;
}

.gridview_border_subtitle span{
    
     font-size: 12px;
     color:#12adff;
}
.gridview_border_subtitle{
     font-size: 12px;
     color:#1A1A1A;
}
.div_blank{
    height: 10px;
}
.gridview_gridCell{
    padding: 12px 12px 12px 12px;
    background-color: #ffffff;
}


